# PyCharm
.idea

# Python
__pycache__
*.egg-info

# Sphinx Doc
_build

# own
source/imperialism_remake/data/manual
/build
/dist

# pynsist
/tools/pynsist_installer.cfg

# Mac
.DS_Store

# vim
.*.swp

# emacs
*~
\#*\#
