/*
	Imperialism Remake UI style definition used by the Qt framework (css)
*/

*[background="black"]
{
	background-color: #000000;
}

QWidget#game-dialog
{
	border: 1px solid black;
}

QToolBar#game-dialog-titlebar
{
	background-color: #9E7921;
	border: 0px;
}

.QLabel#game-dialog-title
{
	font-weight: bold;
	padding-left: 8 px;
}

.QPushButton#game-dialog-close
{
	padding: 0px;
}

.QLabel#notification-label
{
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	background-color: rgba(128, 128, 128, 128);
	color: white;
}

QWidget#info-box-widget
{
	background-color: gray;
}

QWidget#mini-map-widget
{
	border: 0px;
	background-color: gray;
}

QGraphicsView#map-view
{
			background-color: #191E69;
			border-style: solid;
			border-width: 2px;
			border-radius: 6;
			border-color: beige;
}