/*
Description: Style for Imperialism remake help content
Author: Trilarion
License: GPL v3
*/

/* GENERAL */
body {
	color: #001020;
	margin: 4px;
	padding: 4px;
	font-family: Arial, Helvetica, sans-serif;
}