[Application]
name=Imperialism Remake
version=$version
publisher=Imperialism Remake Community
entry_point=imperialism_remake.start:main
#icon=xxx.ico
console=false

[Python]
version=3.6.2
bitness=64
format=bundled
include_msvcrt=false

[Include]
pypi_wheels=imperialism_remake==$version
PyQt5==5.15
	
[Build]
#directory=../build/nsis
installer_name=imperialism_remake-$version-win.exe